@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overscroll-behavior: none;
}

@theme {
  --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-pop-in {
  animation: pop-in 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9333ea;
  border-radius: 20px;
  opacity: 0.5;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7e22ce;
}